* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  header {
    top: 0px;
    width: 100%;
    position: fixed;
    background-color: white;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
  }

  body {
    background-image: url(../img/pattern.jpg);
  }
  
  header nav li {
    display: inline;
    margin: 15px;
  }
  
  section {
    width: 80%;
    margin: 0 auto;
    margin-top: 90px;
    background: white;
    padding: 20px;
  }
  
  section h1 {
    text-align: center;
  }
  
  #article-list {
    margin-top: 50px;
  }
  
  article {
    border-bottom: 1px solid #aaa;
    margin: 30px 0px;
    padding-bottom: 20px;
  }
  
  article p {
    margin-top: 20px;
  }
  
  
  footer {
    bottom: 0px;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    position: fixed;
    padding: 20px;
  }